@font-face{
    src: url("Abel-Regular.ttf");
    font-family: abel;
}
html{
    font-family: abel;
    color: #f5deb3;
    background-color: #2f4f4f;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    zoom: 1.45;
    -ms-zoom: 145%;
}
button{
    background-color: #f0f8ff;
    font-family: abel;
    font-weight: bold;
    border: hsl(0, 0%, 66%);
    border-radius: 5%;
}
#apply{
    height: 40px;
}
button:hover, input:hover, label:hover, button:focus, input:focus, label:focus{
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}
#button:target{
    background-color: #f0f8ff;
}
input, textarea{
    -moz-user-select: -moz-all;
    -webkit-user-select: all;
    -ms-user-select: all;
    background-color: black;
    color: white;
}

#CustomColor, #config-ini{
    background-color: rgb(71, 109, 109);
    border-radius: 5%;
}
#settings{
    float: left;
}
#config-ini{
    float: right;
    text-align: center;
}
#config-text{
    width: 250px;
    height: 190px;
    max-width: 250px;
    max-height: 190px;
    min-width: 250px;
    min-height: 190px;
}
#buttons{
    list-style-type: none;
    margin-right: 20%;
}
#copy, #download, #share, #save, #load {
    border-width: 5px;
    border-color: #2f4f4f;
    /*margin-left: 25%;*/
    border: 1px solid #000;
}
#MaxWanderingTimeSeconds, #MinWanderingTimeSeconds, #FirstWanderTimeSeconds{
    width: 70px;
}
#save-load{
    background-color: rgb(71, 109, 109);
    border-radius: 5%;
    float: right;
}
footer{
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select:text;
    position: fixed;
    text-decoration: none;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #f5deb3;
}
a:hover{
    text-decoration: underline;
}
.goose{
    align-content: center;
    text-align: center;
}
#goose {
    margin-top: 5%;
    padding: 1% 1% 1% 1%;
    border-radius: 10%;
    background-color: #2f4f4f;
    transition: background-color 250ms;
    box-shadow: #000;
}
#goose:hover{
    background-color: rgb(116, 148, 148);
}
