@font-face {
    font-family: abel;
    src: url("Abel-Regular.ttf");
}
html {
    color: wheat;
    background-color: black;
    font-family: abel;
    font-size: 30px;
}
#header-span {
    background-color: rgba(246, 255, 119, 0.274);
}
.li{
    background-color: rgba(197, 151, 0, 0.274);
    display: inline;
    float: left;
}

#github, #ev, #projeler {
    display: block;
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(197, 151, 0, 0.274);
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }

  li:last-child {
    border-right: none;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }