@font-face{
    src: url("../Abel-Regular.ttf");
    font-family: abel;
}
html{
    background-color: #365727;
    font-family: abel;
    user-select: none;
    margin-right: 5px;
    margin-top: 1px;
}

::selection{
    background-color: #2e4b20;
    color: #f2ece2;
}

select{
    border-radius: 5px;
    font-family: abel;
    font-weight: bold;
    height: 30px;
    width: auto;
    cursor: pointer;
}
option{
    background-color: #050a21;
    color: #f5deb3;
}
button {
    height: 30px;
    font-family: abel;
    font-weight: bold;
    cursor: pointer;
}

#ters{
    width: 30px;
}

img{
    width: 13px;
    height: 13px;
}

#Kopyala:disabled{
    cursor:not-allowed;
}
footer{
    color: #f5deb3;
    position: fixed;
    text-decoration: none;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 3px;
    user-select: text;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: #f5deb3;
}
a:hover{
    text-decoration: underline;
}
textarea{
    width: 100%;
    height: 75px;
    margin-top: 5px;
    user-select: text;
}
label{
    font-weight: bold;
    color: #f5deb3;
    cursor: pointer;
    padding-right: 3px;
    padding-left: 3px;
}
input{
    cursor: pointer;
}
label:hover, input:hover{
    background-color: #123b07;
    color: #f2ece2;
}